.app{
    color: #3c96e0c5;
    font-family: sans-serif;
    position: relative;
    margin: 0 auto;
    width: 500px;
}
.app ul{
    margin-bottom: 20px;
}

.card{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid;
}