.app{
    color: #3c96e0c5;
    font-family: sans-serif;
    position: relative;
}

.card{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid;
}