
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}
.app{
  position: relative;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family:'Raleway', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 40px 0;
}

.app .error-msg{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.class{
  position: relative;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}
.search {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
}
.class h1{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.search form{
  position: relative;
  margin-bottom: 30px;
}
.search form label{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.search form label input{
  width: auto;
  flex: 1;
  background-color: inherit;
  outline: none;
  border: .7px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  letter-spacing: .8px;
}
.search .enter{
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  justify-content: center;
}
.search .enter p{
  font-size: 2rem;
}
.nothing{
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.nothing h2{
  margin-bottom: 10px;
  text-align: center;
}
.nothing p{
  line-height: 22px;
}
.def .meaning{
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}
 .speaker{
  position: relative;
  margin: 0;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
 .animate{
  animation: animate 3s ease-in-out;
}

@keyframes animate{
  from{
    border: 2px solid rgba(0, 170, 255, 0.2);
  }
  to{
    border: 2px solid rgba(0, 170, 255, 0.9);
  }
}

 .speaker .tooltip, .butn .tooltip{
  position: absolute;
  padding: 10px;
  width: 110px;
  background-color: #111;
  border-radius: 10px;
  left: 0;
  top: -36px;
  transition: .3s;
  transition-delay: .3s;
}
 .speaker .tooltip .span, .butn .tooltip .span{
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #111;
  bottom: -5px;
  left: 15px;
  transform: rotate(45deg);
}
 .speaker .tooltip .pp, .butn .tooltip .pp {
  font-size: 0.7rem;
}
 .speaker button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

 .speaker audio{
  position: absolute;
  top: 0;
  left: 0;
}
.def .meaning p{
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.def .meaning p span{
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}
.definition .single span{
  margin-bottom: 0;
}
.definition .pad{
  padding: 5px 0 0 15px;
  margin-bottom: 15px;
}
.definition .num{
  margin-bottom: 10px;
  position: relative;
}
.definition .num::after{
  position: absolute;
  content: '';
  width: 65%;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  right: 0;
}
@media screen and (min-width: 768px) {
  .definition .num::after{
    width: 80%;
  }
}
.definition .similar{
  position: relative;
  width: 100%;
}

.similar .modal{
  position: fixed;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 15px 25px #000, -5px -5px 25px #000;
  border-radius: 8px;
  overflow: hidden;
  top: 50%;
  background-color: #222;
  z-index: 1;
  opacity: 100;
}
@media screen and (min-width: 520px) {
  .similar .modal{
    width: 420px;
  }
}
.modal .inner{
  position: relative;
  padding: 20px;
  width: 100%;

}
.modal .inner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  bottom: 0;
}

 .modal .inner .tops{
  position: relative;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}
.modal .inner .tops .button{
  position: absolute;
  background-color: inherit;
  border: none;
  top: 0;
  right: 0;
}
.modal .inner .tops .p{
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.modal .inner .body p{
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.modal .inner .body .usage{
  font-size: 0.8em;
}
.modal .btn{
  position: relative;
  width: 100%;
  background-color: inherit;
  font-size: 0.8em;
  border: none;
  letter-spacing: 1.2px;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #7faff8;
}
.modal a{
  color: inherit;
  text-decoration: none;
}
.definition .pad p{
  line-height: 22px;
  font-weight: 400;
}
.definition .pad .usage{
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
}

.definition .butn{
  margin: 10px 0;
}
.definition .butn span{
  margin-right: 10px;
  color: rgba(138, 238, 138, 0.9);
}
.definition .butn .diss{
  color: rgb(226, 90, 49);
}
.definition .butn button{
  background-color: inherit;
  border: .5px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-family:'Raleway', sans-serif;
  cursor: pointer;
}
.definition .butn .arrow{
  width: 36px;
  height: 34px;
  padding: 11px 11px;
  border-radius: 50%;
}
.definition .pad ul{
  margin-left: 15px;
}
.definition .pad ul li{
  line-height: 22px;
  margin-bottom: 10px;
}
.definition .pad ul:nth-child(1){
  list-style: none;
  margin-left: 0;
}

.definition .show-more{
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.definition .show-more button{
  width: 100%;
  padding: 15px;
  border-radius: 100px;
  border: none;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: .7px;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main {
  position: relative;
  width: 100%;
  background-color: #222;
  border-radius: 10px;
}

.main .top{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.main .top p{
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
}
.main .top .score{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding-right: 20px;
}
.main .top .more{
  position: relative;
  background-color: rgba(43, 88, 242,0.8);
  padding: 8px 5px 8px 20px;
  border-radius: 5px 0 0 5px;
}
.main .top .more p{
  font-size: 0.7rem;
  padding: 0;
  color: #111;
  font-weight: 600;
  text-transform: none;
}

.top .score .span{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
.top .score .count{
  color: #0d0;
  font-size: 17px;
}
.count-animate{
  animation: animee 1s linear ;
  color: #f81f02;
}
@keyframes animee{
  from{
    transform: translateY(-7px);
    opacity: .5;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
 .main .words{
  text-align: center;
  padding: 20px;
}
.main .words p{
  margin-bottom: 10px;
}
.words .box .buttons{
  width: 100%;
  background-color: inherit;
  outline: none;
  border: 1.5px solid #fff;
  padding: 10px;
  border-radius: 8px;
  color: #7fd0f8;
  font-weight: 500;
  font-family: sans-serif;
  font-family:'Raleway', sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  transition: .3s;
}
.words .box .correct{
  background-color: #0d0;
  border-color: #0d0;
  color: #fff;
}
.words .box .wrong{
  background-color: #f81f02;
  border-color: #f81f02;
  color: #fff;
}
.main .level{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px  20px 10px;
}
.level .span{
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}
.level .span .spans{
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.level .span .next{
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.level .span .correct{
  background-color: #0d0;
}
.level .span .wrong{
  background-color: #f81f02;
}
.level button{
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: inherit;
  outline: none;
  padding: 4px 8px;
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  letter-spacing: 0.8px;
}
.main input{
  width: 100%;
}
.main .coach{
  position: relative;
  padding: 20px;
}
.coach > p{
  color: rgba(255, 255, 255, 0.8);
  color: #fff;
  margin-bottom: 20px;
}
 .svg{
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 10px;

}
 .svg .svgs{
  position: relative;
  width: 65px;
  height: 65px;
}
.svg .svgs svg{
  position: relative;
  width: 100%;
  height: 100%;
}
.svg .svgs svg circle{
  stroke: rgb(10, 95, 10);
  stroke-width: 6.4px;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  stroke-linecap: butt;
}
.svg .svgs svg circle:nth-child(1){
  stroke: #fff;
  stroke-width: 6.4px;
}
.svg .svgs p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: 500; 
}
.svg .txt p{
  color: rgb(103, 250, 103);
  margin-bottom: 5px;
}
.svg .txt .bold {
  font-size: 1.4rem;
  color: inherit;
  font-weight: 400;
}
.coach .round{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.round p{
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}
.round button{
  font-size: 0.8em;
  padding:8px 20px ;
  background-color: #4b97ee;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #000;
}
.coach .explanation{
  position: relative;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.explanation .text{
  position: relative;
}
.explanation .text .exp-butn{
  position: relative;
  background-color: inherit;
  border: none;
  padding: 15px;
  font-size: 0.9rem;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 0;
  border-left: 0;
}
.explanation .text .exp-butn::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.explanation .text .exp-butn1::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.explanation .text .exp-butn p{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .6px;
  
}
.explanation .text .exp-butn p img{
  margin-right: 10px;
  width: 30px;
}
.explanation .text .exp-text{
  padding: 15px;
  display: none;
  transition: .3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.explanation .text .display{
  transition: .3s;
  display: block;
}
.explanation .word-definition{
  margin-bottom: 17px;
}
.explanation .text .exp-text .word-definition .p{
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}
.explanation .exp-text p{
  font-size: .9em;
  line-height: 22px;
}
.explanation .exp-text .word-definition p:nth-child(2){
  color: rgba(255, 255, 255, 0.4);
  /* margin-bottom: 8px; */
}
.explanation .word-list {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.explanation .word-list::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0;
}
.explanation .word-list p img{
  width: 30px;
}
.explanation .word-list p{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0d0;
}
.explanation .word-list p:nth-child(2){
  color: #f81f02;
}
.explanation .word-similar{
  position: relative;
  margin-bottom: 17px;
}
.explanation .word-dissimilar p:nth-child(1), .explanation .word-similar p:nth-child(1){
  color: rgba(255, 255, 255, 0.4);
}