
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family:'Raleway', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 40px 0;
}

.class{
  position: relative;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.8);
}
.search {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
}
.class h1{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.search form{
  position: relative;
  margin-bottom: 30px;
}
.search form label{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.search form label input{
  width: auto;
  flex: 1;
  background-color: inherit;
  outline: none;
  border: .5px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  letter-spacing: .8px;
}
.def .meaning{
  display: flex;
  gap: 20px;
  align-items: center;
}
.def .meaning .speaker{
  margin: 0;
  padding: 9px;
  width: 40px;
  height: 40px;
  border: .5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.def .meaning p{
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.def .meaning p span{
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}
.definition .pad{
  padding: 15px 0 0 15px;
}
.definition .pad p{
  line-height: 22px;
  font-weight: 400;
}
.definition .pad .usage{
  color: rgba(255, 255, 255, 0.6);
}
.definition .butn{
  margin: 10px 0;
}
.definition .butn span{
  margin-right: 10px;
  color: rgba(138, 238, 138, 0.9);
}
.definition .butn button{
  background-color: inherit;
  border: .5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-family:'Raleway', sans-serif;
}
.definition .butn .arrow{
  width: 36px;
  height: 34px;
  padding: 11px 11px;
  border-radius: 50%;
}
.definition .pad ul{
  margin-left: 15px;
  line-height: 22px;
}
.main {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
}
.main .top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main .top .score{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.top .score span{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
 .main .words{
  text-align: center;
}
.words .box button{
  width: 100%;
  background-color: inherit;
  outline: none;
  border: 1.5px solid #fff;
  padding: 10px;
  border-radius: 8px;
  color: #00d;
  font-family: sans-serif;
  font-family:'Raleway', sans-serif;
}
.main .level{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level .span{
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.level .span span{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #0d0;
  border-radius: 50%;
}
.main input{
  width: 100%;
}